// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: 0 auto;
    max-width: remCalc(1150px);
}

.login-row {
  margin-top: 50px;
  @include breakpoint(small down){
    margin-top: 20px;
  }
}



.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}
